[2016-11-19 14:00] M1dgard opened #2 "This is a parallel repo of the repo at Framagit"
Also see the [issues](https://framagit.org/Midgard/osm-welcome-belgium/issues) at the [original repo](https://framagit.org/Midgard/osm-welcome-belgium) over at [Framagit](https://framagit.org) (Framasoft's GitLab instance).

[2016-11-26 21:21] Zverik commented on #2
Does it mean I shouldn't make pull requests here?

[2016-11-26 21:45] M1dgard opened #3 "Export data"
It's currently not possible to export data.

[2016-11-26 21:45] ghost opened #4 "Maybe use a database instead of JSON files"
I am not sure what happens when two persons try to edit the same contributor. In the worst case the file gets corrupted. And when that happens, in the worst case the whole contributor list breaks.

[2016-11-26 21:46] M1dgard opened #5 "Choosing an "other language" saves "other" instead of the language"

[2016-11-26 21:46] M1dgard opened #6 "Choosing "unknown" for language saves it as language "unknown""
Instead of setting the language to unknown.

[2016-11-26 21:48] M1dgard commented on #2
@Zverik It was possible to make PRs here at GitHub or at Framagit. This meant that unfortunately, discussion could be split up. Now I've moved everything over to here.

I hadn't really thought that this tool would be useful to anybody else when creating the repo. It was cloned to the osmbe organization at GitHub (not by me) leaving us with the two separate repos.

[2016-11-26 21:48] #2 closed

[2016-11-26 21:56] M1dgard opened #7 "Licensing"
@gplv2 We're currently the copyright holders of the code. Do you agree to release it under the GPL? (Looking at your GitHub handle, I suspect so. 😉)

I'd propose "GPLv2 or later".

@joostschouppe You also added a line to the README. You okay with it?

[2016-11-26 22:10] joostschouppe commented on #7
Of course

[2016-11-29 09:57] xivk commented on #7
I would choose MIT unless you insist on the copy-left part of GPL... I wouldn't recommend it.

CC @gplv2

[2016-11-29 23:24] M1dgard opened #9 "Untranslated strings"
In `includes/messages/welcome-fr.php`, some messages still say "TRADUCTION MANQUANTE"

[2016-11-29 23:43] ghost opened #11 "Show main editor when Neis' detailed report has not been downloaded"
At the moment, no editor information is shown on the mapper's page when Pascal Neis' tool hasn't generated the information yet. In the welcome message generation there's a procedure that does a fairly good job at detecting the primary editor of a contributor. We could use that one to give an indication of the choice of editor.

[2016-11-29 23:43] M1dgard commented on #3
Even just a ZIP with the JSON files would already be useful.

[2016-12-15 19:55] sabas opened #12 "Newestosm feed change"
I asked Pascal Neis to add the user id to the feed and he did it
https://twitter.com/pascal_n/status/809456541061386240

To get the ID another query isn't needed anymore.

[2016-12-15 19:57] joostschouppe commented on #12
Cool! So do we have to adapt the code ASAP or does it keep working for now?

[2016-12-15 20:02] sabas commented on #12
No change needed if I understood the current mechanism. But it's useful going ahead (I'm thinking how to refactor the code :-) ).

[2016-12-15 23:01] M1dgard commented on #3
I have added instructions to set up automatic ZIP exports.

[2016-12-15 23:01] #3 closed

[2018-07-31 14:15] #7 closed

[2018-07-31 14:15] #5 closed

[2018-07-31 14:15] #6 closed

[2019-08-14 06:47] Jakkajakka opened #15 "Welcome text German missing"
The welcome message translation in German is missing while there is a menu for it.
get:follow error
<br />
<b>Warning</b>:  include(/var/www/welcome_osm/includes/messages/welcome-de.php): failed to open stream: No such file or directory in <b>/var/www/welcome_osm/includes/messages/generate_message.php</b> on line <b>72</b><br />
<br />

[2019-10-04 18:10] jbelien opened #16 "Synchronize with original repo on GitLab"
See https://framagit.org/Midgard/osm-welcome-belgium/issues/7

[2019-10-04 19:52] jbelien commented on #12
Sorry it took us almost 3 years! I merge #13 🎉
Thanks a lot for your contribution!

[2019-10-04 19:52] #12 closed

[2019-10-04 20:15] #15 closed

[2020-01-22 14:25] thibaultmol opened #18 "Add manual refresh button"
Just had the situation where I spotted a new user while going trough osmCha (was done 2 hours ago), but seems like neis already updated because that user also showed up in my rss feed. So being able to manually refresh from neis would be nice (so I could mark that person as having being welcomed)

[2020-01-22 16:13] jbelien commented on #18
Hello @thibaultmol
Even though I understand the request, I would not push forward its implementation !
The request towards Pascal Neis API takes quite some time and you would risk to corrupt the files if 2 "update requests" are triggered at the same time (or at least if the 2nd is triggered before the end of the 1st).

[2020-01-22 17:01] thibaultmol commented on #18
I see, but you couldn't you implement it so that it checks if there is a request in progress, and if so, don't request a new one and just wait on the current one?
EDIT: sorry if I'm glansing over something which would not make that doable

[2020-01-22 17:27] jbelien commented on #18
To be honest, the codebase is quite old (and not mine) and I don't really have the time (or the will) to do more than (small) fixes.

It would indeed be a nice feature to add, if anyone is interested to submit a PR, I'll be more than happy to merge it !

[2021-08-09 07:07] sabas opened #19 "Polyfill for flags"
![image](https://user-images.githubusercontent.com/1304918/128670537-f320e62a-cd30-4683-9c8c-39a3ca7dff15.png)

[2021-08-09 07:09] sabas opened #20 "Improve presentation of countries in main page"
https://github.com/osmbe/osm-welcome-belgium/blob/2.x/templates/app/home/index.html.twig

[2021-08-09 07:10] sabas opened #21 "Login flow"
https://github.com/sabas/oauth1-openstreetmap

[2021-08-09 07:13] sabas opened #22 "Add note should assign to current logged in user"
![image](https://user-images.githubusercontent.com/1304918/128671047-7e4db199-55b6-4acd-a62d-8a92d48d8adf.png)

https://github.com/osmbe/osm-welcome-belgium/blob/2.x/src/Controller/App/MapperController.php#L34

[2021-08-09 07:16] sabas opened #23 "Changesets dropdown"
This doesn't work at the moment

![image](https://user-images.githubusercontent.com/1304918/128671321-0bad5fe7-452f-48a6-a555-5e86ae918033.png)

[2021-08-09 07:16] jbelien commented on #22
Indeed, you're absolutely right.
It's setup like this for now because the authentication flow is not ready yet.

[2021-08-09 07:18] jbelien commented on #19
I guess you're on Windows with a Chromium based browser ? 😄
Do you know any good polyfill library ?

[2021-08-09 07:18] jbelien commented on #20
Most definitely! 👍

[2021-08-09 07:19] jbelien commented on #21
I think they switched to OAuth 2 meanwhile !

[2021-08-09 07:20] jbelien commented on #23
Yeah, I spent a few hours on it already but didn't succeed to make it work ... yet 😄

I tried with Vue.js and AlpineJS + PopperJS.

[2021-08-09 07:21] jbelien commented on #21
See https://github.com/osmItalia/welcome-tool/blob/master/index.php#L41 (thanks @sabas)

[2021-08-09 07:23] jbelien commented on #4
Version 2.x uses Doctrine.

[2021-08-09 07:23] #4 closed

[2021-08-09 09:36] LorenzoStucchi opened #24 "Add a flag in the user list for the welcome state"
Could be useful to have a column on the user list page ([example](https://osm-welcome-tool.herokuapp.com/italy/list/2021/8)) with a flag for the user that already receive the welcome message

[2021-08-09 09:46] jbelien commented on #24
Excellent idea!
It's indeed planned 👍

[2021-08-09 09:54] #11 closed

[2021-08-15 15:25] jbelien commented on #24
Column "Welcomed" added in the list.

![image](https://user-images.githubusercontent.com/1150563/129483596-1b1fccdd-cd4e-4c9f-ac80-f7f9f43e26a3.png)

[2021-08-15 15:25] #24 closed, assigned to nobody

[2021-08-15 15:26] jbelien commented on #21
- https://github.com/knpuniversity/oauth2-client-bundle
- https://github.com/jbelien/oauth2-openstreetmap

[2021-08-15 15:27] jbelien commented on #21
Working locally but not on https://osm-welcome-tool.herokuapp.com/
Related to https://github.com/knpuniversity/oauth2-client-bundle/issues/315 ?

[2021-08-18 13:46] #22 closed, assigned to nobody

[2021-08-18 13:46] jbelien commented on #16
Not necessary anymore since version 2.x is coming!

[2021-08-18 13:46] #16 closed

[2021-08-18 14:45] jbelien commented on #20
![image](https://user-images.githubusercontent.com/1150563/129919551-3e832c33-7e46-4b26-90a3-2a295e7d9c88.png)

[2021-08-18 16:54] jbelien commented on #21
✔️  Fixed: https://symfony.com/doc/current/deployment/proxies.html#but-what-if-the-ip-of-my-reverse-proxy-changes-constantly

[2021-08-18 16:54] #21 closed, assigned to nobody

[2021-08-19 16:27] #23 closed, assigned to nobody

[2021-08-20 08:48] jbelien opened #26 "Issue in avatar display"
![image](https://user-images.githubusercontent.com/1150563/130207116-62f1d4a8-0325-4697-be05-a157cf3d2f2c.png)

Reported by @LorenzoStucchi

[2021-08-20 09:23] #26 closed, assigned to nobody

[2021-08-23 10:41] LorenzoStucchi opened #28 "Error in the link to the translation"
The text "notes" is translated into the translation file but it is not correctly linked with the translation and this produces the missing translation.

https://github.com/osmbe/osm-welcome-belgium/blob/31ed98faf19923929636a4ea0fcad2b929427dc6/translations/messages%2Bintl-icu.it.xlf#L140

<img width="858" alt="Schermata 2021-08-23 alle 12 38 43" src="https://user-images.githubusercontent.com/29042

[2021-08-25 07:05] jbelien commented on #28
Grazie @LorenzoStucchi !

I've added the missing translation.

https://github.com/osmbe/osm-welcome-belgium/blob/db850ba21b56a735bf777aa76398eef867737377/translations/messages%2Bintl-icu.it.xlf#L200-L203

Could you update the file with the correct translation in Italian ?

[2021-08-25 08:22] LorenzoStucchi commented on #28
I update the file into the PR https://github.com/osmbe/osm-welcome-belgium/pull/29

Thanks :)

[2021-08-25 09:16] #28 closed, assigned to jbelien

[2021-08-29 19:29] cliffordsnow opened #30 "Wants Review"
One enhancement I'd like to recommend is to grab wants review from OSMCha. We could start just by looking at the first edit. Not sure if the welcome tool can grab the results from OSMCha otherwise a checkbox would need to be added just like the existing  welcomed and replied one.

[2021-08-29 19:32] cliffordsnow opened #31 "Changeset Comment"
I leave a lot of changeset comments when I review new mappers work. I review all new edits even if not specifically requested. I don't always leave a changeset comment but I often just leave a editing tip, like to square buildings and sometime asking for the user to make a specific change.

Like the Welcomed button we could add a made changeset comment and received a reply button.

[2021-08-29 19:36] cliffordsnow opened #32 "Watch List"
OSMCha has a watch list flag to add users to your watch list. Might be interesting to pick that information up. I've only added a few new users to a watch list, but have found it saves me from worrying about what they may do in the future.

This can easily wait since OSMCha provides the feature now.

[2021-08-30 14:23] joostschouppe opened #33 "Contributing documentation"
I'm willing to help write Contributor help documentation, if you just post the places where the docs are for:
How to add a country?
How to add a language?
How to add a localized welcome message?

Note to self: include something about The message subject should probably be more "personal"; especially since people will be getting quite a few messages from osm.org at the start

[2021-08-30 15:20] jbelien commented on #33
I didn't write any documentation yet but it's indeed on my to-do list.
Any help is welcome, I'll keep you updated!

[2021-08-30 16:15] RobJN opened #34 "Improve layout on mobile"
I'm finding it too small on mobile. Hopefully the layout can be improved for mobile users.

Also it looks like the table has an extra column but I couldn't get the table to scroll over to the right to show this.

![Screenshot_20210830-171235](https://user-images.githubusercontent.com/5060210/131370551-c4240cfd-7a1a-49ac-aff2-3b1593fd06b5.png)

[2021-08-30 16:31] jbelien commented on #34
You're absolutely right, I didn't do anything yet for mobile display but I'm using Tailwind CSS so it's definitely not an issue to improve that.
It's now added to my to-do list! 👍

[2021-09-03 11:08] jbelien commented on #33
See [CONTRIBUTING.md](https://github.com/osmbe/osm-welcome-tool/blob/2.x/CONTRIBUTING.md)

Feel free to reopen the issue if I forgot something.

[2021-09-03 11:08] #33 closed, assigned to jbelien

[2021-09-03 11:12] jbelien commented on #31
I indeed think it's a good idea to comment the first changeset(s) of a new mapper.
But I think adding a second "welcomed" toggle is not really necessary.

You can use the "welcomed" toggle as you please. For Belgium it could mean "a welcome message has been sent" and for Washington State mean "a welcome comment has been left of the first changeset(s)".

You can also use the notes on a mapper profi

[2021-09-03 11:22] jbelien commented on #30
The "Review requested" tag (and all other tags from OSMCha) is already displayed.
![image](https://user-images.githubusercontent.com/1150563/131997005-64f798af-165b-4f41-a021-49974fb1a87d.png)

If the changeset has been checkd in OSMCha, it is also already displayed.
![image](https://user-images.githubusercontent.com/1150563/131997357-a1f531dd-9359-4f83-89eb-c540918d7c33.png)

I try to keep the We

[2021-09-03 11:22] jbelien commented on #20
@sabas Any suggestion or is the current version "good enough" ? 😄

[2021-09-03 11:34] jbelien commented on #32
If I understand correctly your request, you want to see on the Welcome Tool if a mapper is on your personal watchlist.

I can't seem to find a way to get that information from OSMCha API (see https://osmcha.org/api-docs/#operations-users-users_read) but I'm probably missing something (ping @willemarcel).

That would also require to store your personal OSMCha API Token in your account in the Welcom

[2021-09-03 11:42] sabas commented on #20
Perfect!

[2021-09-03 11:43] #20 closed, assigned to nobody

[2021-09-03 14:41] joostschouppe commented on #32
If anything, I think the flow in the other direction would be useful:
- you review a new mapper
- you think: "this is fishy"
- you say: "I want to be informed if this mapper does something new"

Once you use this tool, it is unlikely that you would put a mapper on your watchlist BEFORE they show up in your "to welcome" list.

[2021-09-03 14:44] jbelien commented on #32
Yes, that would indeed make sense.
But for now I don't see any way to automate that action from the Welcome Tool, the API doesn't seem to provide that.

[2021-09-03 15:42] cliffordsnow commented on #30
For the initial tool, I agree just having it displayed with the changeset is sufficient. At some point in a future release, I'd like to see something on the list page highlighting mappers requesting a changeset review. For example, I just had https://www.openstreetmap.org/changeset/110465636 where a new mapper was trying to solve a very complex problem, on their first edit! Reviewing new mappers w

[2021-09-03 15:48] cliffordsnow commented on #31
How about a check  box in the changeset info box. Something like

[code]

[2021-09-03 15:49] cliffordsnow commented on #31
If the information is saved in a dataset, we could gather some statistics.

[2021-09-03 22:46] cliffordsnow commented on #32
I often wait a couple of days to see before reviewing. There haven't been many but a few have been flagged before I go to welcome them. But I agree that @joostschouppe suggestion of going the other way makes more sense.

[2021-10-25 02:08] cliffordsnow opened #90 "Forward/Back button on Mapper page"
I typically go to the next un-welcomed mapper on the list. To save time, it would be nice to have two button, one to go down the list the other go up the list displayed on the Mapper page. It would save time having to go back to the list to welcome the next mapper.

[2021-10-25 06:44] jbelien commented on #90
Excellent idea @cliffordsnow !
I'll take care of it ASAP.

[2021-10-30 09:03] jbelien opened #93 "Display notes count in mapper listing"

[2021-10-30 09:41] #93 closed, assigned to jbelien

[2021-10-31 10:16] #90 closed, assigned to jbelien

[2021-11-01 10:56] jbelien opened #124 "Chart is not loading with `nl` locale"
There seems to be an issue with the chart when locale is `nl`.

[code]

[2021-11-02 11:45] jbelien commented on #124
Same issue with locale `bg`

[2021-11-02 12:23] LorenzoStucchi opened #129 "Improved of the welcome text for the Italian comunity"
The actual text of welcoming for Italy has been created from the default ones and combined with the created one for the tool [`greeter-osm`](https://github.com/osmItalia/greeter-osm/blob/83c4a70e66960cfca2cb279eff44c4ac1dfbbd33/greeter-osm.conf#L13-L22).

Every suggestion is welcomed!

[code]

[2021-11-02 16:46] LorenzoStucchi opened #130 "Add information about the location of the first changeset"
Mappers more confidence of mappers to welcome users that are closer to their area of mapping, so could be helpful to insert an approximate location of the area of interest where the changeset has been done.

The location could be something at the level of osm `admin_level` `4` or `6` or similar for EU countries NUTS1 or NUTS2.

[2021-11-02 17:22] jbelien commented on #130
That's indeed a good idea!

I'll need to check if OSMCha provides such information.
If not, we could reverse geocode the centroid of the changeset (won't be perfect if the changeset is quite large but I don't see another way to do this).

[2021-11-02 21:32] alesarrett commented on #130
As a possible additional improvement connected to this, it would be great if zooming in the map allows to filter the list of changesets/contributors selecting only the ones inside the visible area.

[2021-11-05 08:17] jbelien opened #134 "Update list of mappers based on map viewport"
As a possible additional improvement connected to this, it would be great if zooming in the map allows to filter the list of changesets/contributors selecting only the ones inside the visible area.

_Originally posted by @alesarrett in https://github.com/osmbe/osm-welcome-tool/issues/130#issuecomment-958183260_

[2021-11-05 08:21] jbelien commented on #130
@alesarrett I've split your request to a new issue: #134

[2021-11-05 08:41] alesarrett commented on #129
Hi, here a slightly revised version with some integration.

[code]

[2021-11-05 12:51] joostschouppe commented on #30
I think we should probably ask people who use the tool to use osmcha to validate/invalidate the changesets. That way, others know of the user has been welcomed as well as checked. However, I'm a bit confused. I marked this changeset as "good" https://osmcha.org/changesets/113363045/ , but it doesn't show up in https://welcome.osm.be/belgium/mapper/14403247 . You mention the "checked" status will s

[2021-11-05 12:57] jbelien commented on #30
When did you do that ?
I'm only refreshing the data once a day.

All the tags I'm displaying in the tool come from OSMCha.
I'm assuming that the "checked" tag comes from the "Verify > Good" button in OSMCha.

[2021-11-05 13:00] joostschouppe commented on #30
Hmmm, if it is only updated daily, maybe it does make sense to add an explicit flag "user's changeset was reviewed" next to the "user was welcomed" flag.

[2021-11-05 13:15] cliffordsnow commented on #30
As far as I know, it only shows in OSMCha. It should leave a changeset comment on the review, good or bad, but only if the reviewer remembers to post the note.

[2021-11-05 14:49] #124 closed, assigned to nobody

[2021-11-06 13:59] ALFURJANI opened #137 "OSM Libya"
hi
could you please add Libya
regards

[2021-11-06 15:13] jbelien commented on #137
Hello @ALFURJANI ,

No worries, I'll take care of it in the next few days.

[2021-11-06 19:07] clairedelune opened #143 "Add a welcome message template for the DRC"
---
name: Default
title: Bienvenue dans la communauté OpenStreetMap
---

Salut {{ mapper.displayName }}

J'ai remarqué que vous avez effectué votre première contribution sur OpenStreetMap. Bravo et merci ! De ce fait vous devenez aussi membre de la communauté OpenStreetMap.

En RDC, nous n'existons pas uniquement [virtuellement](https://openstreetmap.cd/) mais nous nous rencontrons parfois aussi [

[2021-11-07 09:23] jbelien commented on #137
Deployed: https://welcome.osm.be/libya/list 🚀

[2021-11-07 09:25] #143 closed, assigned to nobody

[2021-11-07 09:36] #137 closed, assigned to nobody

[2021-11-07 10:49] matkoniecz opened #148 "Consider adding description how it works"
How it works? Is it for sending fully automatic messages (no human interaction)?

Is it somehow detecting new mappers in a given region?

It would be useful to add some explanation how it works and screenshots.

Is there some public deployment?

Is it possible to check is it used in a given region?

[2021-11-07 11:19] jbelien commented on #148
No, it detects new mappers in "your" region and suggests a welcome message (based on templates) that you can then (manually) send to the mapper.

Yes.

I can indeed add some explanation on how it works. 😄
No need for screenshot, the tool is publicly available here: <https://welcome.osm.be/>

<https://welcome.osm.be/>

[2021-11-08 14:46] RicoElectrico commented on #148
The tool pre-fills the OSM message form. It opens in a new window, ready to send.

[2021-11-08 14:50] RicoElectrico opened #152 "Contributing guide: clarify what to do with security.xlf and validator.xlf"
Hi,
The above files are not listed in CONTRIBUTING.MD. From what I gather, these are translation of the Symfony framework? If so, do you just copy them from upstream?
validator.xlf is actually quite sizable, would be nice if we can save the effort.

[2021-11-08 14:53] jbelien commented on #152
Hello @RicoElectrico ,

You're absolutely right, `security.xlf` and `validator.xlf` come from Symfony so you don't have to worry about those if you want to add a new language.

I'll add this information in `CONTRIBUTING.md`.

[2021-11-08 14:54] RicoElectrico commented on #152
OK, so I will make a pull request for Polish shortly, because I have translated the core.

[2021-11-08 21:56] mfrasca opened #153 "bienvenido/welcomed"
I'm not a native speaker of neither of the two languages involved in this translation, but translating "not welcomed" to "no bienvenido/a" sounds really weird, as if the person was not welcome (without the 'd').
I would ask a native speaker, but my guess is that "not welcomed (yet)" vs. "welcomed" should be "falta saludar" vs. "se le envió la bienvenida" (literally: "needs to be welcomed" vs. "a w

[2021-11-09 07:19] jbelien commented on #153
Sounds right. @Zalitoar Could you confirm (and if so submit a fix) ?

I'll also change "Not welcomed" by "Not welcomed yet", sounds indeed less negative.

[2021-11-09 17:25] LorenzoStucchi commented on #129
Add the new text in the PR #155

[2021-11-09 19:18] #129 closed, assigned to nobody

[2021-11-10 18:30] RicoElectrico opened #157 "Message template - iD autofixes"
This advice:

may be harmful - we have had a few mappers who indiscriminately applied fixes suggested by iD, which are not always right. There have been user blocks due to this feature, I think.

[2021-11-11 11:41] jbelien commented on #157
Even though I do agree that in some situations, the iD autofix might bring errors, the iD editor is the "official" editor and I think we should trust it.

But if you don't have that confidence in iD for Poland, feel free to not include it in the templates for Poland. Each region can have its own templates with its own recommandations.

[2021-11-11 11:49] jbelien commented on #153
I realized that I'm already using "Not welcomed yet" everywhere ... except in the chart labels.
I just completely removed "Not welcomed" not for "Not welcomed yet".

Thanks @mfrasca for rising this up! 👍

[2021-11-11 11:49] #153 closed, assigned to jbelien

[2021-11-11 11:50] RicoElectrico commented on #157
I hope that going forward, with our new maintainer responding to OSMF, you'll be right :)

We have had many raised issues being ignored in the past (like `addr:place` support, POI presets that removed `building=yes` etc.

[2021-11-11 12:31] joostschouppe commented on #157
iD autofixes are not something I would recommend to a new mapper myself. Unless perhaps like: "hey this is a thing, but read up on the 'why' of the fixes before going crazy. The web editor is proposing an educated openion, not an absolute fact"
For sure, its up to whoever writes a local template, but I wouldn't include this in a default template unless with more context.

[2021-11-11 12:34] jbelien commented on #157
There is no default template. Each region has full control on its template.

Do you think we should remove it from our templates for Belgium then ?

[2021-11-11 17:51] cliffordsnow commented on #157
Based on my review of new mapper edits, I've given the iD a list of common problems I see. For example buildings not being square. I've asked the developers to provide a warning when they add non squared objects. The are a couple of open issues on this one example. Validator warning are useful but I agree that autofixes, especially with features that the new mapper didn't touch should be ignored.

[2021-11-12 11:29] joostschouppe commented on #157
@jbelien : I'll do a proposal for a re-write of our welcome message

[2021-11-12 15:50] RicoElectrico opened #160 "Present some statistics"
I think presenting some stats would make for a great encouragement:
- on the regions card display `X/Y welcomed (Z%)` and highlight it green when it passes an arbitrary threshold like 90%
- make leaderboards for every region

[2021-11-12 17:11] jbelien commented on #160
What would you like to see in this/those leaderboard(s) ?

[2021-11-12 18:04] RicoElectrico commented on #160
I think just a number of mappers welcomed would suffice.

[2021-11-12 18:05] #152 closed, assigned to nobody

[2021-11-17 11:06] RicoElectrico opened #168 "Document how nested regions work"
I checked and Colombia doesn't list a mapper which was listed in Bogotá. So some de-duplication of mappers does occur, which is great. This should be documented. I guess in the absence of any other hints this is probably done by the order of regions in the config?

[2021-11-17 12:08] jbelien commented on #168
Yeah, you're indeed right, at the moment a mapper can be only linked to one single region.

I need to check but I'm pretty sure it can lead to "conflicts".
I noticed [that user](https://welcome.osm.be/tanzania/mapper/14460846) that made a first contribution in Belgium but is now appearing in [Tanzania list of new mappers](https://welcome.osm.be/tanzania/list). I'm guessing this mapper made meanwhi

[2021-11-18 10:22] pyrog commented on #148
What happened if there is local areas inside a country ?
Does the user is listed in i.e the country and the area of a local group ?

If somebody send a welcome message from the country, does this is reflected on the local group ?
And vice-versa ?

[2021-11-18 12:31] joostschouppe opened #171 "a wiki page"
It was suggested that we create an osm wiki page for this project, so that it can be internationalized more easily. That makes sense, but what would be in there? And how do we reduce duplicate documentation?

I would propose:
- a short intro
- a summary of the contribution guide
- a short user manual

A lot of the content could be copied from https://www.openstreetmap.org/user/LCCWG/diary/398057

[2021-11-20 15:55] #148 closed, assigned to nobody

[2021-11-23 21:05] boothym opened #185 "OSM Scotland"
Hi, wondering if someone could create a Scotland region for us? 😃

name=Scotland
flag=🏴󠁧󠁢󠁳󠁣󠁴󠁿 (this is showing black for me, and no flags are showing for me on the welcome tool - just AT for example)
locales=en (though not sure if "gd" for Scots Gaelic should also be included?)

The OSM relation would be: https://www.openstreetmap.org/relation/58446

Thanks!

[2021-11-24 00:11] cliffordsnow commented on #171
I added instructions for using the OSMCha tool. It's currently a markdown document but could be easily converted to a wiki article.

[2021-11-24 08:10] jbelien commented on #185
No worries, I'll take care of it in the next few days.

[2021-11-26 15:36] #185 closed, assigned to nobody

[2021-11-26 16:05] jbelien commented on #185
🚀 Deployed: https://welcome.osm.be/scotland/list

[2021-11-26 16:07] jbelien commented on #185
I have the same black flag on Windows but the correct flag on Firefox on Android so I guess it will depend on your browser and OS.

[2021-11-26 18:24] matkoniecz opened #189 "Allow linking country and redirect to list"
https://welcome.osm.be/poland explodes

https://welcome.osm.be/poland/list works

[2021-11-26 18:26] matkoniecz opened #190 "Austria is not in Poland"
https://welcome.osm.be/poland/mapper/14063456

https://www.openstreetmap.org/changeset/114098603 is not in Poland

this sole changeset listed as reason for classifying as Polish mapper is not in Poland

![screen](https://user-images.githubusercontent.com/899988/143619562-78fa1ef5-1d6f-413a-b214-f5dbd9a99049.png)
![screen01](https://user-images.githubusercontent.com/899988/143619565-d3f88791-8c58-4

[2021-11-26 18:29] matkoniecz commented on #171
Very short description and link to more thorough docs?

[2021-11-26 19:29] boothym commented on #185
Thanks! 😄

[2021-11-27 00:35] cliffordsnow commented on #171
I created a Welcome Tool wiki page, https://wiki.openstreetmap.org/wiki/Welcome_tool, using @joostschouppe diary entry. Feel free to edit. As a next step I'd suggest adding in the github section on creating new regions.

[2021-11-27 06:21] matkoniecz commented on #171
Note that wiki pages are usually less personal (not in the first person), see https://wiki.openstreetmap.org/wiki/StreetComplete for a comparison

[2021-11-28 20:01] cliffordsnow opened #194 "Show status in region list"
The list page shows the regions. I'd like to see a indicator if the recent additions have been notified. The images are just a possibility.

The calculation to determine if the recent additions are complete would be to check if the additions have been welcomed or if their is a note. (I get an occasional SEO user that changes the user name to match their customer. They never reply to welcome messag

[2021-11-30 09:34] joostschouppe commented on #171
I've "factualized" the main text block. Starting to look good. Should we already ask around for translations? Or do we need some more content first?

[2021-11-30 14:17] cliffordsnow commented on #171
It feels like there needs more instruction. How can we ask for input from some of the new region people? The Telegram group only has a few of the new regions represented.

[2021-11-30 14:35] jbelien commented on #171
That's indeed a good point.
Most of the default templates (when there is one) refers to a way to contact the community.
We can probably get those information from there and I would indeed put it in the wiki.

[2021-12-09 10:50] boothym opened #257 "Remove next month arrow when you can't go forward"
The country page has "December 2021 < . >"

I accidentally clicked the right arrow button and it went to January 2021 with an empty list.

Think it would be good if the right arrow button was removed or made inactive if you are in the current month, since there's no point in being able to load a future month with no data in it! 😉

[2021-12-10 12:08] jbelien opened #262 "Issue with Germany"
There is something wrong with the detection of new mappers in Germany.

I though it was the size of the country but China was just added and it works just fine.

@willemarcel Any idea why https://osmcha.org/api/v1/aoi/5489911b-e978-4983-bd71-8055654339df/changesets/?page_size=500 generates an error 500 ?

Thanks.

[2021-12-10 12:17] willemarcel commented on #262
@jbelien It seems something wrong with the Germany borders geometry. I could run [another query](https://osmcha.org/?filters=%7B%22geometry%22%3A%5B%7B%22label%22%3A%7B%22coordinates%22%3A%5B%5B%5B6.399037%2C49.525998%5D%2C%5B6.124432%2C50.175206%5D%2C%5B6.368525%2C50.370215%5D%2C%5B6.032897%2C50.777139%5D%2C%5B5.910851%2C51.142283%5D%2C%5B6.215967%2C51.276087%5D%2C%5B5.910851%2C51.90165%5D%2C%5B6

[2021-12-10 12:18] jbelien commented on #262
Okay, nice, thanks @willemarcel !

I'll check (and update) the GeoJSON used by the query for Germany.

[2021-12-10 12:54] LaoshuBaby opened #263 "Month in URL can out of range when use `<` and `>` button"
Now we are at this page, and can use those 2 button to switch to privious/next month

![图片](https://user-images.githubusercontent.com/42690037/145576699-e4c0a65e-9f78-4ba2-94d5-319a67e22500.png)

today is 2021/12/10, and when I use `>` , the url bump to 2021/13

![图片](https://user-images.githubusercontent.com/42690037/145576814-545dee76-984f-411d-a48e-69649e7f9ac5.png)

But there can't be 13 month

[2021-12-10 13:01] LaoshuBaby commented on #19
Yes, chromium browser will have this problem

**In Firefox**
![图片](https://user-images.githubusercontent.com/42690037/145577871-839e7a34-d062-45ea-bbb3-05bf173715be.png)

**In chrome**
![图片](https://user-images.githubusercontent.com/42690037/145577803-c094be17-2531-4923-81e6-4d5b8e2c6233.png)

Only Catalan, Scotland, Ireland can have its icon because they are not flag emoji

[2021-12-10 13:13] LaoshuBaby commented on #19
Besides, those 3 emoji seems like haven't in a line with other flag emoji

![图片](https://user-images.githubusercontent.com/42690037/145579184-a5ec327a-81a6-426a-ba89-df6c98deb505.png)

And this occur in all languages UI

![图片](https://user-images.githubusercontent.com/42690037/145579397-7797219e-578e-43f8-8d87-1b7f7351bec7.png)

[2021-12-10 13:55] jbelien commented on #263
There is indeed a logic that makes `2021/13` or `2022/0` work but you have a fair point.
It's not really user friendly to have those `2021/13` in the URL, it should indeed be redirected to `2022/01`.

[2021-12-10 16:19] GITMichaelK commented on #262
Thank you @jbelien,
I've used [this page](https://peteris.rocks/blog/openstreetmap-administrative-boundaries-in-geojson/) and went from there to [this one](http://polygons.openstreetmap.fr/?id=51477) using the ID51477 from [OSM](https://www.openstreetmap.org/relation/51477). I'll be happy to learn, what I've done wrong.

[2021-12-10 17:30] boothym opened #267 "Quotation marks and brackets duplicated in welcome message text box"
Typing a welcome message to a user - if you press **', ", or (** you get a second **' " )** appear.

[2021-12-11 14:18] jbelien commented on #267
Hello @boothym ,

"It's a feature, not a bug." 😄

The message uses [Markdown](https://daringfireball.net/projects/markdown/) and the "text editor" is made to highlight Markdown features (link, bold, italic, ...).
It's also add a few features, like closing a parenthesis or a quotation mark (using [CodeJar](https://medv.io/codejar/)).

[2021-12-12 09:06] jbelien commented on #262
That was the correct procedure. 👍
You (probably) took the most detailed geometry and the resulting GeoJSON file was quite big (3.5MB).
I've updated it with a simplified geometry (1198 nodes instead of 154383) and everything works just fine now. 🥳

https://welcome.osm.be/germany/list

[2021-12-12 09:06] #262 closed, assigned to nobody

[2021-12-12 09:17] #189 closed, assigned to nobody

[2021-12-12 09:36] jbelien commented on #263
I noticed that `2021/13` is "redirected" to `2021/01` instead of `2022/01`.
I'll fix it too!

[2021-12-12 10:06] #257 closed, assigned to nobody

[2021-12-12 10:06] #263 closed, assigned to nobody

[2021-12-12 16:14] GITMichaelK commented on #262
Thanks a lot @jbelien for that solution!
I added now a proposal for the [German Welcome-text](https://github.com/osmbe/osm-welcome-tool/pull/273); also I've seen your approach with the [Wiki](https://github.com/osmbe/osm-welcome-tool/issues/171); please let me now, if I could help. Or you comment my proposal in the actual pull request.
Regards and greetings form Germany
Michael

[2021-12-13 08:16] GITMichaelK opened #275 "LogIN / LogOut issue"
I'm starting my browser from scratch, the cache is clear. Then I called the [Blog-page](https://www.openstreetmap.org/user/LCCWG/diary/398057) and from there "[Try it out](https://welcome.osm.be/)"; the LogIn-Button now is active.
I clicked it, entered Username and password and ENTER; this leads to [this page](https://welcome.osm.be/favicon.ico/list) showing

Going back to the [former page](https:

[2021-12-13 11:12] jbelien commented on #275
Thanks for the report.

Could you test it in private/incognito mode of your browser to see if the issue happens there too ?

[2021-12-13 12:41] Jakkajakka commented on #275
Same here logout error
windows 10 firefox

[2021-12-13 13:30] jbelien commented on #275
I'll have a look ASAP!

[2021-12-13 14:57] jbelien commented on #275
Okay, I've found where the issue comes from!
`/login` and `/logout` are redirected to `/login/list` and `/logout/list` since 6fbcbc62c476e43cce6e39042704e7a1a6f32878

I'll fix it (hopefully) tomorrow morning!

[2021-12-13 14:59] GITMichaelK commented on #275
Done and yes, it behaves the same way.
Firefox 95.0 on Manjaro Linux, KDE Plasma Version: 5.23.4

[2021-12-14 07:56] jbelien commented on #275
Fixed (bf7ca72667ebc0544e8d9fcd101c0108c0f6b07d + 2dda2b655f1c3f7549aedac5a2e28b120a58456c)

[2021-12-14 07:56] #275 closed, assigned to jbelien

[2021-12-14 19:38] boothym commented on #267
Right, but if you are writing a message with an apostrophe or quotation mark and don't notice this feature then you'll have extra punctuation where it is not needed.

Also, once I pressed the "send message" it took me to the OSM message user page. However I don't think OSM supports markdown anyway?

[2021-12-15 05:46] jbelien commented on #267
I do agree than closing a single quote (apostrophe) doesn't make much sense in a text but I still find convenient that double quote, parenthesis, brackets, ... are automatically closed.

The goal of this tool is indeed to use osm.org internal messaging system.
That system do support Markdown using kramdown library.

![image](https://user-images.githubusercontent.com/1150563/146130376-25e94b8c-e8a8

[2021-12-15 12:34] boothym commented on #267
But using ' ' and "" "" for bold or italics does not work in kramdown - you need to use * * or ** **.

[2021-12-15 12:45] jbelien commented on #267
Indeed, __bold__ is `**...**` (or `__...__`) and _italic_ is `*...*` (or `_..._`).
That's defined by the Markdown format (https://daringfireball.net/projects/markdown/syntax).

[2021-12-15 22:08] Dimitar5555 opened #278 "Group countries and territories"
The list of countries is not going to get smaller so some sort of grouping would be required. Maybe the best approach would be to group them by continent and then group individual territories to their country (ex: the US states to the US).

[2021-12-19 13:54] jbelien commented on #278
Good point, I guess the continent is indeed the easiest way to group it.

[2021-12-19 13:55] jbelien commented on #194
Related to #160

[2021-12-19 14:02] mfrasca opened #279 "Highlight also experienced mappers new to the area"
as I understood the rationale behind this tool, it helps us welcome newbies to OSM, region-wise.  in OSM we also have, how to say it, "newbies regions"?

at least in Latin America and in Africa there's regions where the bulk of contributions come from experienced mappers travelling through the region, virtually or physically.  the tool as it stands now will not alert the small local communities of

[2021-12-19 14:11] jbelien commented on #279
The Welcome Tool only detects new mappers (less that 50 changesets) and the first(s) changeset(s) of those mappers, so there shouldn't be any "experienced mapper" detected by the Welcome Tool (unless those "experienced mapper" created a new account).

Do you have an example of one of those "experienced mapper" that has been detected by the Welcome Tool ?

[2021-12-19 14:13] jbelien commented on #279
Oh sorry, I understood the question wrong ...
You want to detect "experienced mappers" **AND** new mappers.

That might be tricky to implement and will drastically increase the detection work.
What would you consider as "experienced mapper" ?

[2021-12-19 14:17] jbelien opened #280 "Implement RTL support"
We got our first RTL language (see #274) ready to be merged!

RTL support needs to be implemented to be able to merge it.

[2021-12-19 14:34] mfrasca commented on #279
possibly, but I guess not in "newbies areas".  I'm making up the term to express the concept of an area which is a newbie itself.  the areas I'm considering have typically 0-5 editors per day, or a hard kern of 1-2 mappers active almost constantly, and occasionally external individuals or groups swiping over the area.

Belize (last 31 days 50th percentile = 1 editor):
![image](https://user-images.

[2021-12-19 19:17] joostschouppe commented on #279
I think this outside of scope for the welcome tool. It's a really interesting thing to do, but it's more a "monitoring tool" than a "welcome tool". I think it would be best to start playing with OsmCHA to see if you can find a decent filter to detect this kind of thing (rather hard I think!) or your own detection flow (for example, process the country data weekly to extract "known users", and comp

[2021-12-19 21:44] mfrasca commented on #279
I understand the point of view "outside scope", yet I think it would be valuable to have here, because this welcome tool is a very user friendly thing, and it could be the one-stop solution for administration of what I above called newbie-areas.  I don't know if I have the energy to experiment with the filter @joostschouppe suggests.  it would be better to work at it in (small) team, but in the co

[2021-12-21 10:11] tordans opened #281 "Allow for custom regions"
I would like to use a list of custom regions, not just a whole country.

For example:
- Berlin Neukölln, which is the area a very local community monitors and keeps up to data
- Berlin-Brandenburg, which is the area of our [local Stammtisch](https://wiki.openstreetmap.org/wiki/Berlin/Stammtisch)
- The area of the project https://www.zesplus.de/forschungsprojekt, which is <details><summary>this are

[2021-12-21 10:29] jbelien commented on #281
You can have anything you like as a region, you just need to provide the related geometry in a GeoJSON file!

So it's already possible.

[2021-12-21 11:52] jbelien opened #282 "Add current user as possible variable in a template"
Since ab69f16259c944d4800f5ec999dfd8568aa752cd, we need to be able to use something like `{{ user.displayName }}` in a template.

[2021-12-21 11:53] jbelien commented on #282
Ping @joostschouppe 😄

[2021-12-21 11:54] tordans commented on #281
Thanks @jbelien. And I just found https://github.com/osmbe/osm-welcome-tool/blob/2.x/CONTRIBUTING.md#add-a-new-region, so I will follow that. Thanks!

[2021-12-30 13:33] #282 closed, assigned to jbelien

[2021-12-30 15:35] #194 closed, assigned to nobody

[2021-12-30 15:46] jbelien commented on #194
I've added a progress bar.
A mapper is considered as "checked" if he/she has been welcomed or if a not has been added to that mapper.

![image](https://user-images.githubusercontent.com/1150563/147766813-2739684c-1696-4b38-b218-385e2d524573.png)

[2021-12-30 17:51] cliffordsnow opened #285 "Change button text from Send Message to Load Message"
The Send a welcome message currently has a button labeled as **Send message**. See screenshot
![Screenshot from 2021-12-30 09-43-37](https://user-images.githubusercontent.com/3290977/147775813-b5adc377-2a61-499d-8559-b130d78c0e38.png)

I recommend changing it to **Load message** since that is what the welcome tool actually does. The other reason is that send message implies that hitting the button

[2022-01-09 16:44] #281 closed, assigned to nobody

[2022-01-09 16:46] #267 closed, assigned to nobody

[2022-01-09 16:46] #157 closed, assigned to nobody

[2022-01-11 21:01] jbelien opened #341 "Add dark mode support"
See https://tailwindcss.com/docs/dark-mode

[2022-01-19 23:38] RicoElectrico opened #343 "Long user names mess with table layout"
Example attached. Firefox 96.0
![image](https://user-images.githubusercontent.com/1409116/150235730-e08f913c-097b-4cb8-b796-9aec8d160821.png)

[2022-01-20 07:24] jbelien commented on #343
Thanks @RicoElectrico ! Good catch.
I'll take care of it when I have some free time.

[2022-01-25 07:49] jbelien commented on #19
https://github.com/twitter/twemoji might be a solution. I need to investigate it.

[2022-02-19 19:35] cliffordsnow opened #399 "Missing two new mappers"
The welcome tool didn't pick up two new mappers. Details below. One used StreetComplete the other use something called FireYak. Neither of which should make a difference. Both made edits in Washington State.

http://osmcha.org/changesets/117495458  http://osm.org/user/CullenW
        Add maximum heights
        State Route 26 West, Grant County, Washington, United States of America
----
http://osm

[2022-02-25 16:06] RicoElectrico opened #400 "Session time too short"
Hi,
It seems that (I don't know Symfony) the session time is default 30 minutes. A longer value like 7 days would be more reasonable to me.

[2022-02-25 16:08] RicoElectrico opened #401 "Handle session expiry gracefully"
Currently if you happen to do some stuff and then make an action after the session has expired, you get a 401 unauthorized error, presumably default one from Symfony. It'd be better to use a custom one with a link to the login page and redirecting to where the user left off.

[2022-02-25 16:12] RicoElectrico opened #402 "Markdown editor inconsistent with osm.org (underscore handling)"
If the user has `_` in their name, this fomats the whole message in italics in the editor. The parser at osm.org is somewhat smarter and ignores such occurrences.
![image](https://user-images.githubusercontent.com/1409116/155748809-8fec77d7-9f03-4833-91c5-50a1848aeda8.png)
![image](https://user-images.githubusercontent.com/1409116/155748828-acb17b48-5cc7-4660-8e9a-5898d4891074.png)

[2022-02-27 19:42] cliffordsnow opened #403 "Move new mappers to correct region"
Occasionally I get a new mapper on my list that belongs to an adjacent region. Would be nice to be able to move them to the correct list.

[2022-02-28 08:00] jbelien commented on #403
Seems like a good idea indeed! 👍

If the "correct" region is not available in the tool, I suggest then to unassign the user to a region.

[2022-02-28 08:02] jbelien commented on #400
To be honest I don't see the point of extending the "length" of the session.
If the session is expired, you just have to log in again (see #401)

[2022-02-28 08:02] jbelien commented on #401
Good remark!
I'll see what I can do to improve this! 👍

[2022-02-28 08:09] jbelien commented on #402
This is indeed an issue when there is an underscore (`_`) in the username.

I'm relying on [highlight.js](https://highlightjs.org/) for this.
I'll see if there is a workaround possible.

[2022-02-28 08:12] jbelien commented on #399
Hello @cliffordsnow ,

I fully rely on OSMCha API for mappers detection.
I'll need to investigate why those 2 mappers were not picked up by OSMCha.

[2022-03-09 09:04] Jakkajakka opened #439 "https://welcome.osm.be/belgium/list broken"
Have a error on https://welcome.osm.be/belgium/list
Not on the main access page

[2022-03-11 17:12] angoca opened #440 "User "Lycée Louis Pasteur de Bogota" not identified"
Hi, I have configured the Welcome tool for Bogota, and for Colombia, and in parallel I have the Pascal Neis tool to report new users by RSS. However, the user "Lycée Louis Pasteur de Bogota" has not been identified in the Bogota region, and it has already done many changes.

The RSS is http://resultmaps.neis-one.org/newestosmfeed.php?lon=-74.109993&lat=4.6487085&deg=0.38 and the user started on Ma

[2022-03-11 17:16] angoca commented on #440
My ticket seems similar to [399](https://github.com/osmbe/osm-welcome-tool/issues/399)

[2022-03-13 10:15] jbelien commented on #439
Fixed in 15ee218051a038d68fc34663704129636f3259dd

[2022-03-13 10:15] #439 closed, assigned to nobody

[2022-03-13 10:17] jbelien commented on #440
Probably related indeed.
I fully rely on OSMCha API for mappers detection and ResultMap probably uses a different way of detecting new mappers.
I'll need to investigate further.

[2022-03-16 16:05] angoca opened #442 "Changeset count differs"
In the list of users per area, the quantity of changes seems to be the current one.
However, once I have sent a welcome message, the quantity of changesets remains the same in the user view.

This is an example:

* User Lolj has 62 changeset currently - https://welcome.osm.be/bogota/list/2021/11
* However, in the user view I only see 2 - https://welcome.osm.be/bogota/mapper/14546644

Is this norma

[2022-03-16 16:11] angoca commented on #400
What is the purpose to login again? This web application is not providing sensitive information, like a bank.
Instead, I see this like the main OpenStreetMap page, where you log in once, and if you haven't used it for weeks, it logouts.

I have some issues with this logout feature. In fact, I open several users at the same time (different tabs) and I analyze each of them. Sometimes, it took a whil

[2022-03-16 16:12] jbelien commented on #442
I indeed wouldn't call it "normal" but it's not a bug either.

It's due to the fact that the process keeps updating the user information details (to detect a change in the username, for instance) including the number of changesets made by that user.
But I only fetch the changeset details for the changesets created the day that user contributed the first time.

I think that's useful because it allo

[2022-03-16 16:14] angoca opened #443 "Change month easily"
I like to go back to previous months, to see the current quantity of changesets and identify the biggest ones. I like to establish contact with the engaged ones and to see if they haven't replied. However, changing months is not easy, I have to do many clicks.

It will be fun to have a list of recent months to click directly.

[2022-03-16 18:45] jbelien commented on #443
The main goal of the tool is to welcome new mappers. It doesn't really makes sense to welcome mappers many months after their first contribution.

So even though I understand your request I don't really think it's in the scope of the project.

If you really need to go back to a specific month, you can update the URL: `https://welcome.osm.be/REGION/list/YYYY/MM` where `YYYY` is the year and `MM` th

[2022-03-16 18:46] jbelien commented on #400
Okay, I get your point.
I'll extend the session lifetime.

[2022-04-04 16:42] mfrasca opened #493 "recognize deleted status of OSM accounts"
https://welcome.osm.be/panama/mapper/14875828
if you check their changesets on OSM, the user is not named, but reported as "deleted".
would it be possible for the welcome tool to add an "account deleted" event in the user timeline?

[2022-04-04 16:43] mfrasca opened #494 "Address the False Positives issue."
in the country I'm following, we have very few new mappers, so few that our statistics are overly impacted by non real matches:

there's people, in particular beginners, who would submit world-spanning changesets, containing possibly just two edits, like one in New Zealand, and one in Alaska (or one in California, and one in South America ---- much more common).

it would be nice if we could tag t

[2022-04-04 18:47] mfrasca opened #495 "why doesn't this user show as new editor?"
[PeteZivkov](https://www.openstreetmap.org/user/PeteZivkov/history) is a new user, they edited in what is possibly their base town, and in Panama, and it's not mentioned as new editor for Panama.  first two changesets in California, third in Panama. All their first 5 changesets were on same day 30th of March. I don't know what might have confused the logic for identifying new editors:

| Palo Alto

[2022-04-05 06:55] jbelien commented on #493
Excellent idea! 👍

[2022-04-05 06:56] jbelien commented on #494
In most regions, they use the note for such use case (SEO spam, ...).

[2022-04-05 07:02] jbelien commented on #495
A new mapper can only be "connected" to one single region at the moment.
I indeed need to investigate how it happens if a new mapper is related to several region (see #399).

[2022-04-05 19:07] mfrasca commented on #494
well, yes, sure, I can write a note, but it will still be in the way, distract the reader, alter statistics.

[2022-05-02 03:31] govvin opened #545 "feature request: add recent hashtags in region list view"
![image](https://user-images.githubusercontent.com/5821688/166180768-2f20edb6-c308-49db-8028-e5226e028eec.png)

First of all, thanks for making this very convenient tool for reaching out to new contributors.

Previously, I use other tools to welcome new mappers (e.g. feeds of sign-ups for my region) , especially those who appear to contribute edits based on local knowledge (i.e. versus tracing/rem

[2022-05-14 03:47] govvin opened #547 "[question] who welcomes who?"
Is there a way to find out who welcomed who?

Or stats about who enabled the "has been welcomed" or "has replied" check boxes?

[2022-05-14 14:13] jbelien commented on #547
You can find all that on a profile in the "Timeline" card.

![image](https://user-images.githubusercontent.com/1150563/168429455-aef967b9-d116-4fd6-af46-e4fc00b37ef5.png)

[2022-05-15 08:47] govvin commented on #547
Oh, yes. I've seen that.

I was hoping like there's a summary of that for the month, like when you view the list of new mappers by the month.

[2022-05-15 10:55] jbelien commented on #547
That could indeed be added in the future.

[2022-07-07 07:24] joostschouppe opened #622 "welcome graph slowing down"
The graph that shows the progress per country is becoming very long. On some devices, apparently this means you have to wait a few moments for it to load until you can do anything else. Also it's not very readible anymore if it's so long. SO perhaps better to imit to, say, three months?

[2022-07-07 08:06] jbelien commented on #622
It's indeed already on my to-do list 👍

[2022-07-09 15:19] #622 closed, assigned to jbelien

[2022-07-09 16:19] jbelien commented on #622
Fixed!
The chart displays now the number of people per month (instead of the number per day).

![image](https://user-images.githubusercontent.com/1150563/178114112-0672bc8f-c4b9-4b29-a24a-789839f379f0.png)

[2022-07-14 05:16] govvin opened #637 "unable to login -- missing login button"
Here's how the landing page looks like, with the login button missing in Firefox
![image](https://user-images.githubusercontent.com/5821688/178904087-c51cb392-7c86-410a-92eb-6822822b022d.png)

If I force a page refresh, I can **very briefly** see the login button, but then it disappears. I also tried disabling the ad blockers I use (adblocker, uBlock Origin, Decentraleyes, duckduckgo privacy essen

[2022-07-14 05:32] jbelien commented on #637
This is strange... I use Firefox and the button displays correctly!

Can you try in another browser and in Firefox in Private life ?

[2022-07-14 06:47] govvin commented on #637
Thanks for taking a look @jbelien . I  did try private mode, and no, it doesn't work. By the way, it's Firefox v102.0

Works in chromium, but that's really not the browser I use daily.

[2022-07-14 07:22] jbelien commented on #637
Thanks for checking.
Unfortunately I can not replicate this issue and I'm also running Firefox 102.0.1

I don't see any reason for that button to disappear, except a local plugin (the link behind that button is `/connect/openstreetmap`, maybe you have a privacy plugin that doesn't like that).

[2022-07-14 22:26] govvin commented on #637
Found , and removed, a recently added add-on, and everything's dandy again. :)

[2022-07-14 22:26] #637 closed, assigned to nobody

[2022-07-22 12:05] LaoshuBaby opened #640 "Tag a new mapper as “replied” before “welcomed” will cause ERROR"
Here's a example:

1. This is a user that not been welcomed:

![图片](https://user-images.githubusercontent.com/42690037/180435679-ac3296a5-63e3-4b17-b225-4f6e72a9ecbb.png)

2. I click the right button and only set this user as replied:

![图片](https://user-images.githubusercontent.com/42690037/180435449-6e4014f2-2104-4ceb-8adc-85284c37ce9b.png)

[2022-07-22 12:29] jbelien commented on #640
Thanks for the notice @LaoshuBaby !
I'll have a look as soon as I have a little free time.

[2022-07-31 15:14] mfrasca commented on #494
for July 2022 we have 4 such false positives in Panama, out of 9 matches. I welcomed 2 people, and I wish to make clear that it's still 3 to consider, not 7.

[2022-08-06 20:53] angoca opened #669 "Many users working in Bangladesh appears like started in Colombia"
I have been welcoming users from Colombia, but I have seen many of them working in Bangladesh. I am afraid if there is an area problem or similar thing:

* https://welcome.osm.be/colombia/mapper/16429918
* https://welcome.osm.be/colombia/mapper/16388127
* https://welcome.osm.be/colombia/mapper/16662644

[2022-09-01 09:51] #443 closed, assigned to nobody

[2022-09-01 11:12] #285 closed, assigned to nobody

[2022-09-01 11:25] #343 closed, assigned to jbelien

[2022-09-01 12:12] #640 closed, assigned to jbelien

[2022-09-01 13:33] #278 closed, assigned to nobody

[2022-09-02 12:02] #160 closed, assigned to nobody

[2022-09-12 17:22] LaoshuBaby opened #712 "Too long update time notification will be ommision"
This only occur in “[Български](https://welcome.osm.be/?l=bg)” language

![图片](https://user-images.githubusercontent.com/42690037/189716984-e7b3d880-3ff2-45ce-b3e6-a97fdeafba46.png)

![图片](https://user-images.githubusercontent.com/42690037/189717091-bfd72718-9851-43e1-8be9-df34cced1802.png)

[2022-10-08 17:54] clairedelune opened #765 "Add English mapathon template for DRC"
---
name: Mapathon
title: Welcome to OpenStreetMap
---

Hi {{ mapper.displayName }}

I saw that you made your first edit on OpenStreetMap. Congratulations and thank you! You're now a member of the OpenStreetMap community.
As it seems that you joined us thanks to a mapathon likely happening outside of the area that you were mapping, feel free to check the [OSM Community Index](https://openstreetmap

[2022-10-09 10:13] jbelien commented on #765
Thanks you @clairedelune !
The new template has been added to https://welcome.osm.be/ ✅

[2022-10-09 10:13] #765 closed, assigned to nobody

[2022-10-10 18:04] jbelien opened #766 "Make Docker container"
See https://github.com/osmbe/community_planning/issues/41

[2022-10-12 15:10] datendelphin commented on #493
Please consume https://planet.openstreetmap.org/users_deleted/ for GDPR complience
Related: because the website does not mention any one or any organisation for being responsible for it, people come complain to the OSMF. Please add that information, who is responsible for that website.

[2022-10-12 15:42] jbelien commented on #493
Thanks! I'll try to find a moment to implement that cleaning procedure.

---

I think it's clearly mentioned on the homepage:

I can't really say more than that.

[2022-10-12 15:55] datendelphin commented on #493
Yes that's good. Didn't look there

[2022-10-16 13:12] #766 closed, assigned to jbelien

[2022-10-17 16:25] jbelien opened #771 "Replace cron job by App Platform worker"
Apparently, there is no way to run a cron job in a container in Digital Ocean App Platform.
They provide Workers for that: https://docs.digitalocean.com/products/app-platform/how-to/manage-workers/

Since the worker is running independently, we need to store the last update of each region in the database (instead of the disk).

[2022-10-18 01:29] llongour opened #772 "Re-create an osmcha.id for France"
I don't know why but one of my commits from the previous PR #768  had no effect. The `osmcha.id` hasn't changed

https://github.com/osmbe/osm-welcome-tool/pull/768/commits/b8c210e4ed43167450c937dac292a53c98ef58be

Thanks again

[2022-10-18 05:30] jbelien commented on #772
I indeed reverted it, it wasn't necessary to change it.

[2022-10-18 05:30] #772 closed, assigned to nobody

[2022-10-23 23:51] RicoElectrico opened #773 "HTTP 500 when trying to log in"
I get such an error message. Revoked OAuth2 access as well, did not help.

[code]

[2022-10-24 07:05] jbelien commented on #773
Sorry about this @RicoElectrico !

It's related to the migration done to Digital Ocean AppPlatform.
We indeed noticed that performances are REALLY bad and I'm investigation another solution (see https://github.com/osmbe/community_planning/issues/41).

[2022-10-24 08:21] le-jun opened #774 "[Feature Request] RSS Feed"
Would it be possible to implement a RSS Feed? I don’t like having to go on a webpage to check if there’s been some activity and would prefer to be pinged through RSS. Something basic would suffice to ping whenever there’s a new contributor detected, not necessarily needed to know if someone has been welcomed yet or not.

[2022-10-29 19:59] jbelien commented on #773
I've reverted to the previous setup.
Unfortunately I couldn't recuperate the work done since the migration. My apologies for this.

[2022-10-29 19:59] #773 closed, assigned to nobody

[2022-10-29 20:00] jbelien commented on #771
I've decided to not go through with AppPlatform. Performances were not good enough.
This is not needed anymore.

[2022-10-29 20:00] #771 closed, assigned to jbelien

[2022-10-29 22:10] jbelien opened #775 "Store region latest update in database (instead of cache)"
Since the cache is cleared for each release, we always loose the last update.
We need to store that update in the database (instead of the cache).

[2022-10-29 22:10] jbelien commented on #771
See #775

[2022-10-30 08:31] mcliquid opened #776 "An exception occurred while executing a query: SQLSTATE[HY000]: General error: 8 attempt to write a readonly database"
URL: https://welcome.osm.be/mapper/17388754?welcome=1

![An-exception-occurred-while-executing-a-query-SQLSTATE-HY000-General-error-8-attempt-to-write-a-readonly-database-500-Internal-Server-Error-](https://user-images.githubusercontent.com/3351668/198869520-f226cf0b-b73c-4c45-b0b3-c808bf1bb569.png)

[2022-10-30 08:52] jbelien commented on #776
Thanks @mcliquid !
Sorry about this, it's now fixed!

[2022-10-30 08:52] #776 closed, assigned to jbelien

[2022-10-30 08:54] jbelien opened #777 "Error when check "werd verwelkomd""
Error when check "werd verwelkomd"

![afbeelding](https://user-images.githubusercontent.com/11509181/198864025-cdcd207c-eb05-417d-8d02-cd3b0849a824.png)

_Originally posted by @Jakkajakka in https://github.com/osmbe/community_planning/issues/41#issuecomment-1296117769_

[2022-10-30 08:56] jbelien commented on #777
Thanks @Jakkajakka !
Sorry about this, it's now fixed!

[2022-10-30 08:56] #777 closed, assigned to jbelien

[2022-10-30 09:29] mcliquid commented on #776
@jbelien Thanks for the fix! Can it be that the database in general has a problem? I currently get almost daily new entries from users who I have already written to but then appear in the tool again as new. As if my changes are not saved.

[2022-10-30 09:40] jbelien commented on #776
A few weeks ago I migrated the OSM Welcome Tool to Digital Ocean App Platform.
But performances were really bad so I decided to go back to the initial setup (OSMBE VM).
Unfortunately I couldn't recuperate the changes made since the migration and you indeed have lost data.
You can follow this here: https://github.com/osmbe/community_planning/issues/41

Sorry for the inconvenience.
Good news: I've d

[2022-11-02 05:59] angoca opened #782 "List of placeholder for templates"
I would like to know the placeholder one can use in the templates. I only know this "mapper.displayName", but it seems there are more, but I have not found them in the documentation (Contributing.md).

[2022-11-02 06:05] angoca opened #783 "Templates not part of this repository"
Modifying a template could be a recurrent task to improve the message, by adding or removing things, according to the needs of each area / region.

By having the templates as part of the code of this repository, it makes very complicate to modify them. Especially for non developers volunteers.

I propose something different, like the application points to an external site that contains the text of

[2022-11-02 08:02] jbelien commented on #782
Good point! 👍
I'll add it to the documentation.

[2022-11-02 08:05] jbelien commented on #783
I get your point and it's a fair point.

I could check if I can integrate it in <https://crowdin.com/project/osm-welcome-tool>
That would already make it easier to be adapted by non developers.

[2022-11-03 08:48] #782 closed, assigned to nobody

[2022-11-03 08:48] jbelien commented on #782
See https://github.com/osmbe/osm-welcome-tool/blob/2.x/CONTRIBUTING.md#what-variablesplaceholders-can-you-use-in-your-template-

[2022-11-12 13:29] grinapo opened #792 "Please create Hungary"
Thanks. :-)

[2022-11-12 13:30] angoca opened #793 "Include Telegram channel in page and/or Github"
I belong to the Telegram channel, which is an excellent way to help new people.

It will be interesting to include the channel on the main page and this GitHub repository.

[2022-11-12 13:40] jbelien commented on #793
Hello @angoca ,

Not sure I understand your request.
But feel free to add a link to Telegram in the template messages sent to the new users in the region you're contributing.

[2022-11-12 13:49] vicksunNigeria opened #794 "Creation of Nigeria Region"
Please, I need the Creation of Nigeria as a Region

[2022-11-12 14:33] #792 closed, assigned to nobody

[2022-11-12 14:35] #794 closed, assigned to nobody

[2022-11-12 14:37] jbelien commented on #794
🚀 Deployed: https://welcome.osm.be/africa/nigeria/list

[2022-11-12 14:43] jbelien commented on #792
🚀 Deployed: https://welcome.osm.be/europe/hungary/list

[2022-11-12 15:13] vicksunNigeria commented on #794
Thanks Osmbe for  the creation of Nigeria Region

On Sat, Nov 12, 2022 at 3:38 PM Jonathan Beliën ***@***.***>
wrote:

[2022-11-12 15:25] angoca commented on #793
No, I mean somewhere in https://welcome.osm.be/.

In fact, I have just discovered the Telegram group is a private one; therefore, it does not have a public URL.

I think an open Telegram group could be a way to help people to define new areas, improve translations, and get involved in platform maintenance. This way, more people could start using the platform.

[2022-11-12 15:37] jbelien commented on #793
Oh okay, you're talking about the "LCCWG - welcome tool group" Telegram group, right ?

That group wasn't really meant to be shared publicly but was setup in the early days of the new version of the Welcome Tool so I could share the progress of the development of the new version with people of LCCWG.

[2022-11-15 09:35] Jakkajakka opened #800 "Daily update not seen on country list"
Today 15 nov 2022
![afbeelding](https://user-images.githubusercontent.com/11509181/201883907-8d3ff6af-d80b-4f4b-8a3e-a8e9d8191cc9.png)
last memeber seen on page
![afbeelding](https://user-images.githubusercontent.com/11509181/201884084-1e0e19bb-673e-4b14-9fc7-8f255d9389ef.png)

[2022-11-15 11:19] jbelien commented on #800
It happens from time to time.
I believe it's due to the fact that there are too many new mappers.
The request to get the users details is truncated (see below) and so the update is failing.

I'll fix it!

`https://api.openstreetmap.org/api/0.6/users.json?users=15453288%2C11308911%2C2999637%2C17466727%2C2999637%2C2999637%2C17684318%2C1848516%2C2677980%2C2677980%2C2677980%2C2677980%2C2677980%2C26779

[2022-11-15 11:58] jbelien commented on #800
Might also be due to a user that has deleted his/her account meanwhile.

[2022-11-15 16:23] jbelien commented on #800
Fixed in #801

[2022-11-15 16:23] #800 closed, assigned to nobody

[2022-11-15 18:00] jbelien commented on #399
This issue is now most likely fixed (see #801) !
There was an issue with the daily update if one of the new mapper detected by OSMCha deleted his/her account meanwhile.
There was another issue if there were too many new mappers ; the request to get their details was truncated.

[2022-11-15 18:00] #399 closed, assigned to nobody

[2022-11-15 18:00] jbelien commented on #495
This issue is now most likely fixed (see #801) !
There was an issue with the daily update if one of the new mapper detected by OSMCha deleted his/her account meanwhile.
There was another issue if there were too many new mappers ; the request to get their details was truncated.

[2022-11-15 18:00] #495 closed, assigned to nobody

[2022-11-15 18:00] jbelien commented on #440
This issue is now most likely fixed (see #801) !
There was an issue with the daily update if one of the new mapper detected by OSMCha deleted his/her account meanwhile.
There was another issue if there were too many new mappers ; the request to get their details was truncated.

[2022-11-15 18:00] #440 closed, assigned to nobody

[2022-11-15 18:01] #400 closed, assigned to nobody

[2022-11-15 19:51] #775 closed, assigned to jbelien

[2022-11-19 19:50] jbelien commented on #168
Since #808 a new mapper will appear in **every** region it is detected. This should fix the issue with nested regions.

[2022-11-19 19:50] #168 closed, assigned to nobody

[2022-11-19 19:51] jbelien commented on #190
Since #808 a new mapper will appear in **every** region it is detected. This should fix the issue.

[2022-11-19 19:51] #190 closed, assigned to nobody

[2022-11-19 19:52] jbelien commented on #403
Since #808 a new mapper will appear in **every** region it is detected.

[2022-11-19 19:52] #403 closed, assigned to nobody

[2022-11-19 19:52] jbelien commented on #494
Since #808 a new mapper will appear in **every** region it is detected. This should fix the issue.

[2022-11-19 19:52] #494 closed, assigned to nobody

[2022-11-19 19:52] jbelien commented on #669
Since #808 a new mapper will appear in **every** region it is detected. This should fix the issue.

[2022-11-19 19:52] #669 closed, assigned to nobody

[2022-11-19 19:53] #30 closed, assigned to nobody

[2022-11-19 19:53] #32 closed, assigned to nobody

[2022-11-19 19:54] #171 closed, assigned to nobody

[2022-11-19 19:54] #279 closed, assigned to nobody

[2022-11-19 19:55] #442 closed, assigned to nobody

[2022-11-19 19:56] #547 closed, assigned to nobody

[2022-11-19 19:56] #793 closed, assigned to nobody

[2022-11-21 15:42] angoca opened #812 "Breadcrumbs for region should return to main page"
The breadcrumbs, like South America, should point to the main page with an internal link. In this case, the lower part of main page.

[2022-11-25 08:36] jbelien opened #813 "Detection issue in Washington State"
Reported by @cliffordsnow: